body {
  font-family: "Noto Serif KR", serif;
}
.div__title {
  font-size: 30px;
  text-align: center;
  letter-spacing: 10px;
  margin-top: 40px;
}

.title_line_1 {
  margin: 0px;
}

.title_line_2 {
  margin: 0px;
  color: brown;
}

.div__main_photo {
  padding-top: 50px;
  text-align: center;
}

.main_photo {
  height: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 0px rgb(192, 189, 189);
}

.div__info {
  margin-top: 50px;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
}

.div__invite_message {
  margin-top: 100px;
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  line-height: 27px;
}

.div_title {
  font-size: 120%;
  text-align: center;
  margin-top: 100px;
}

.div__image_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  padding: 0px 30px;
  margin-top: 30px;
}
.gallery_image {
  max-width: 100%;
  border-radius: 10px;
}
